/*
    border: 1px solid blue */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  cursor: url("../img/cursor.svg"), auto;
  background-image: url("../img/bg1.png");
  background-repeat: repeat;
  background-color: #A5A4AD; }

::selection {
  color: white;
  background: #344BFB;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  color: white;
  background: #344BFB;
  /* Gecko Browsers */ }

a {
  color: #344BFB;
  text-decoration: none;
  border-bottom: 2px solid #c7c7c7;
  font-family: "Neue Machina" !important; }

h1 {
  color: #344BFB;
  font-size: 48px;
  font-size: 3rem;
  font-family: "Neue Machina";
  font-weight: 500;
  font-display: swap;
  font-kerning: normal;
  line-height: 150%; }

p {
  color: #344BFB;
  font-size: 18px;
  font-size: 1.125rem;
  font-family: "Neue Machina";
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 150%; }

header {
  position: fixed;
  width: 100%;
  background-color: #A5A4AD;
  border-bottom: 1px solid #344BFB;
  padding: 10px; }
  header img {
    height: 16px;
    margin-bottom: -3px; }

#jumbotron {
  margin: 0 auto 0 auto;
  padding: 10% 10px 10% 10px; }

.sticky {
  grid-column: 1;
  height: 240px;
  width: 235px;
  background: linear-gradient(180deg, #90ff8c00 0%, #7f977e00 100%);
  box-shadow: 8px 8px 0px #344BFB;
  padding: 20px;
  border: 1px solid #344BFB; }

#know-how {
  padding: 10% 10px 10% 10px;
  max-width: 1220px;
  margin: 0 auto 0 auto; }

.container-2 {
  margin: 0 auto 0 auto; }

button {
  padding: 18px 40px 18px 40px;
  border-radius: 99px;
  background-color: #344BFB;
  color: #A5A4AD;
  border: none;
  cursor: pointer;
  font-family: "Neue Machina" !important; }

.box {
  height: 300px;
  margin: 0 auto 0 auto;
  padding: 10% 10px 10% 10px;
  max-width: 1200px; }

footer {
  height: 200px;
  margin: 0 auto 0 auto;
  padding: 10px;
  background-color: #344BFB; }

.container {
  text-align: center;
  padding: 10% 10px 10% 10px; }
