/*
    border: 1px dotted #0cff04 */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  /* cursor: url('../img/cursor.svg'), auto */
  /* background-image: url("../img/bg1.png") */
  /* background-repeat: repeat */
  background-color: #A5A4AD; }

::selection {
  color: white;
  background: #344BFB;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  color: white;
  background: #344BFB;
  /* Gecko Browsers */ }

a {
  color: #3D3D3D;
  text-decoration: none;
  border-bottom: 2px solid #c7c7c7;
  font-family: "Candor" !important; }

h1 {
  color: #3D3D3D;
  font-size: 36px !important;
  font-family: "Candor";
  font-weight: 500;
  font-display: swap;
  font-kerning: normal;
  line-height: 150%; }

p {
  color: #3D3D3D;
  font-size: 16px;
  font-family: "Frekuent";
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 150%; }

header {
  position: fixed;
  width: 100%;
  background-color: #a5a4ad4b;
  /* border-bottom: 1px solid #344BFB */
  padding: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); }
  header img {
    height: 16px;
    margin-bottom: -3px; }
  header ul.ic-social {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0 10px 0 0;
    float: right; }
    header ul.ic-social li {
      display: inline-block;
      padding: 0px 8px 0px 8px; }
    header ul.ic-social img path {
      fill: red; }

#jumbotron {
  margin: 0 auto 0 auto;
  padding: 10% 10px 10% 10px; }

.line-1 {
  border-top: 1px solid #344BFB; }

.line-2 {
  border-top: 2px solid #344BFB; }

.sticky {
  grid-column: 1;
  height: 240px;
  width: 235px;
  background: linear-gradient(180deg, #90ff8c00 0%, #7f977e00 100%);
  box-shadow: 8px 8px 0px #344BFB;
  padding: 20px;
  border: 1px solid #344BFB; }

#know-how {
  padding: 10px;
  margin: 0 auto 0 auto; }
  #know-how h2 {
    font-family: 'CandorBold';
    font-weight: bold;
    font-size: bold;
    color: #3D3D3D; }

.container-2 {
  margin: 0 auto 0 auto; }

button {
  padding: 18px 40px 18px 40px;
  border-radius: 99px;
  background-color: #344BFB;
  color: #A5A4AD;
  border: none;
  cursor: pointer;
  font-family: "Candor" !important; }

.box {
  height: 300px;
  margin: 0 auto 0 auto;
  padding: 10% 10px 10% 10px;
  max-width: 1200px; }

footer {
  height: 200px;
  margin: 0 auto 0 auto;
  padding: 10px;
  background-color: #344BFB; }

#contact {
  text-align: center;
  padding: 10% 10px 10% 10px; }
