doctype html
html
  head
    title In Progress
    link(rel='stylesheet', type='text/css', href='css/main.css')
    link(rel='stylesheet', type='text/css', href='css/normalize.css')
  body
    h1 Hello World
    p I'm hosted with GitHub Pages. Test.